<table mat-table [dataSource]="mockedData">
    <ng-container matColumnDef="referenceDate">
        <th mat-header-cell *matHeaderCellDef> Reference Date </th>
        <td mat-cell *matCellDef="let element"> {{element.referenceDate | date : "d MMM yyyy" }} </td>
    </ng-container>

    <ng-container matColumnDef="benchmark1">
        <th mat-header-cell *matHeaderCellDef> Benchmark 1 </th>
        <td mat-cell *matCellDef="let element"> {{element.benchmark1 | percent: '1.2'}} </td>
    </ng-container>

    <ng-container matColumnDef="benchmark2">
        <th mat-header-cell *matHeaderCellDef> Benchmark 2 </th>
        <td mat-cell *matCellDef="let element"> {{element.benchmark2 | percent: '1.2'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>